In [17]:
import postgreSQL_functions, os, csv
import utils

In [4]:
# conecter au base de donnee Floupics_movies
ma_base_donnees = "Floupics_Movies2"
utilisateur = "postgres"
mot_passe = os.environ.get('pg_psw')

conn = postgreSQL_functions.ouvrir_connection(ma_base_donnees, utilisateur, mot_passe)

type(conn)

psycopg2.extensions.connection

### creation les tables movies, links, ratings, tags dans le base de donnes Floupics_movies

In [4]:
# creation la table movies

sql_creation_table_movies = """
    CREATE TABLE IF NOT EXISTS movies (
    movieId INTEGER primary key,
    title text,
    genres text
    );
"""

postgreSQL_functions.creer_table(conn, sql_creation_table_movies)

La table a été crée avec succès

In [7]:
# creation la table ratings

sql_creation_table_ratings = """
    CREATE TABLE IF NOT EXISTS ratings (
    userId INTEGER NOT NULL,
    movieId INTEGER NOT NULL,
    ratings float4,
    time_stamp INTEGER,
    PRIMARY KEY (userId, movieId),
    FOREIGN KEY ( movieId) REFERENCES movies(movieId)
    );
"""

postgreSQL_functions.creer_table(conn, sql_creation_table_ratings)

La table a été crée avec succès

In [121]:
# creation la table links

sql_creation_table_links = """
    CREATE TABLE IF NOT EXISTS links (
    movieId INTEGER NOT NULL,
    imdbld INTEGER,
    tmdbld CHAR(13) NULL,
    PRIMARY KEY (imdbld),
    FOREIGN KEY ( movieId) REFERENCES movies(movieId)
    );
"""

postgreSQL_functions.creer_table(conn, sql_creation_table_links)

La table a été crée avec succès

In [10]:
# creation la table tags

sql_creation_table_tags = """
    CREATE TABLE IF NOT EXISTS tags (
    movieId INTEGER NOT NULL,
    userId INTEGER NOT NULL,
    tag TEXT,
    time_stamp INTEGER,
    PRIMARY KEY (movieId, userId, tag),
    FOREIGN KEY (movieId) REFERENCES movies(movieId),
    FOREIGN KEY (movieId, userId) REFERENCES ratings(movieId, userId)
    );
"""

postgreSQL_functions.creer_table(conn, sql_creation_table_tags)

La table a été crée avec succès

### import les donnes en CSV par requêtes SQL dans les tables movies, ratings, links, tags

#### inserer les donnees csv dans le table movies

In [18]:
# Chemin vers les différents fichiers de données
chemin_movies =  "data/movies.csv"
chemin_links =  "data/links.csv"
chemin_ratings = "data/ratings.csv"
chemin_tags = "data/tags.csv"

In [45]:
movies_dict = utils.lire_csv_dict(chemin_movies)

In [46]:
sql_inserer_movies_dict = """
    INSERT INTO movies 
    (movieId, title, genres)
    VALUES (%(movieId)s, %(title)s, %(genres)s);
"""

In [47]:
postgreSQL_functions.inserer_donnees(conn, sql_inserer_movies_dict, movies_dict)

Les données ont été insérées avec succès

#### inserer les donnees csv dans le table ratings

In [60]:
ratings_dict = utils.lire_csv_dict(chemin_ratings)

In [61]:
sql_inserer_ratings_dict = """
    INSERT INTO ratings 
    (movieId, userId, ratings, time_stamp)
    VALUES (%(movieId)s, %(userId)s, %(rating)s, %(timestamp)s);
"""

In [62]:
postgreSQL_functions.inserer_donnees(conn, sql_inserer_ratings_dict, ratings_dict)

Les données ont été insérées avec succès

#### Inserer les donnees csv dans la table links

In [122]:
links_dict = utils.lire_csv_dict(chemin_links)

In [123]:
sql_inserer_links_dict = """
    INSERT INTO links 
    (movieId, imdbld, tmdbld)
    VALUES (%(movieId)s, %(imdbId)s, %(tmdbId)s);
"""

In [124]:
postgreSQL_functions.inserer_donnees(conn, sql_inserer_links_dict, links_dict)

Les données ont été insérées avec succès

#### Inserer les donnees csv dans la table tags

In [128]:
tags_dict = utils.lire_csv_dict(chemin_tags)

In [129]:
sql_inserer_tags_dict = """
    INSERT INTO tags 
    (movieId, userId, tag, time_stamp)
    VALUES (%(movieId)s, %(userId)s, %(tag)s, %(timestamp)s);
"""

In [130]:
postgreSQL_functions.inserer_donnees(conn, sql_inserer_tags_dict, tags_dict)

Erreur lors de l'insertion des données
ERREUR:  une instruction insert ou update sur la table « tags » viole la contrainte de clé
étrangère « tags_movieid_userid_fkey »
DETAIL:  La clé (movieid, userid)=(1569, 21) n'est pas présente dans la table « ratings ».